### Load the dataset

In [40]:
import numpy as np
import pandas as pd

In [41]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
train.columns = [_.lower() for _ in train.columns]
test.columns = [_.lower() for _ in test.columns]
print('train.shape: {}'.format(train.shape))
print('test.shape: {}'.format(test.shape))

train.shape: (26729, 10)
test.shape: (11456, 8)

### Fill in missing values & Feature engineering

#### Drop the useless attribute outcomesubtype

In [42]:
train = train.drop('outcomesubtype', axis=1)

#### Combine the training and testing data for easy processing

In [43]:
tmp_train = train.drop(['animalid', 'outcometype'], axis=1)
tmp_test = test.drop('id', axis=1)
sep = tmp_train.shape[0]
combine = pd.concat([tmp_train, tmp_test], axis=0)
print('combine.shape: {}'.format(combine.shape))

combine.shape: (38185, 7)

In [44]:
combine.head()

,name,datetime,animaltype,sexuponoutcome,ageuponoutcome,breed,color
0,Hambone,2014-02-12 18:22:00,Dog,Neutered Male,1 year,Shetland Sheepdog Mix,Brown/White
1,Emily,2013-10-13 12:44:00,Cat,Spayed Female,1 year,Domestic Shorthair Mix,Cream Tabby
2,Pearce,2015-01-31 12:28:00,Dog,Neutered Male,2 years,Pit Bull Mix,Blue/White
3,NaN,2014-07-11 19:09:00,Cat,Intact Male,3 weeks,Domestic Shorthair Mix,Blue Cream
4,NaN,2013-11-15 12:52:00,Dog,Neutered Male,2 years,Lhasa Apso/Miniature Poodle,Tan

#### Create the hasname attribute and drop the original name

In [45]:
combine['hasname'] = combine.name.notnull().astype(int)
combine = combine.drop('name', axis=1)

#### Get the hour attribute and drop the original datetime

In [46]:
combine['hour'] = pd.to_datetime(combine.datetime).dt.hour.astype('category')
combine = combine.drop('datetime', axis=1)

#### Use 'intact' to replace 'sexuponoutcome'

In [47]:
combine['intact'] = combine.sexuponoutcome.fillna('Unknown').map({
    'Neutered Male': 0,
    'Spayed Female': 0,
    'Intact Male': 1,
    'Intact Female': 1,
    'Unknown': 1
})
combine = combine.drop('sexuponoutcome', axis=1)

#### Transfer animaltype into a binary attribute, use 1 to represent dog

In [48]:
combine['animaltype'] = combine.animaltype.apply(lambda x: int(x=='Dog'))

#### Transfer sexuponoutcome into days and fill in the missing values

In [49]:
def age_transfer(age_str):
    num = age_str.split(' ')[0]
    num = int(num)
    if 'day' in age_str:
        return num
    elif 'week' in age_str:
        return num * 7
    elif 'month' in age_str:
        return num * 30
    elif 'year' in age_str:
        return num * 365
    else:
        return np.nan
    
combine['ageuponoutcome'] = combine.ageuponoutcome.fillna('0').apply(age_transfer)
combine['ageuponoutcome'] = combine.groupby(['animaltype', 'intact']).ageuponoutcome.transform(lambda x: x.fillna(x.median()))

#### Extract some attributes from breed

In [59]:
# Hair
combine['hair'] = combine.breed.str.extract(r'(\w+)\s?[hH]air', expand=False).fillna('Unclear').astype('category')
# Domestic
combine['domestic'] = combine.breed.str.contains('Domestic').astype(int)

combine = combine.drop('breed', axis=1)

#### Create attribute 'morethanonecolor' from color and drop color attribute

In [60]:
combine['morethanonecolor'] = combine.color.str.contains('/').astype(int)

combine = combine.drop('color', axis=1)

#### Turn categorical attributes into dummy variables

In [62]:
combine = pd.get_dummies(combine)

In [63]:
combine.head()

,animaltype,ageuponoutcome,hasname,intact,domestic,morethanonecolor,hour_0,hour_3,hour_5,hour_6,...,hour_20,hour_21,hour_22,hour_23,hair_Long,hair_Medium,hair_Mexican,hair_Short,hair_Unclear,hair_Wire
0,1,365.0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,0,365.0,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,1,730.0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,0,21.0,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,1,730.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

### Prepare the data for modeling

In [68]:
X_train = combine[:sep]
y_train = train['outcometype']
X_test = combine[sep:]

In [82]:
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
from xgboost.sklearn import XGBClassifier
from sklearn.model_selection import StratifiedKFold

### Set up the metric

In [83]:
mt = 'neg_log_loss'
kf = StratifiedKFold(n_splits=8, shuffle=True, random_state=0)

In [88]:
def performance(model):
    scores = - cross_val_score(model, X_train, y_train, cv=kf, scoring=mt, n_jobs=4)
    print('score mean: {:.4f}'.format(scores.mean()))
    print('score std: {:.4f}'.format(scores.std()))
    
def grid_search(model, params):
    grid = GridSearchCV(model, params, cv=kf, scoring=mt, verbose=True, n_jobs=4).fit(X_train, y_train)
    print('grid.best_score_:{:.4f}'.format(- grid.best_score_))
    print('grid.best_params_:\n{}'.format(grid.best_params_))
    return grid.best_estimator_

### Get the baseline

In [87]:
performance(RandomForestClassifier(n_estimators=100))

score mean: 1.8184
score std: 0.0829

### Search the best parameters

In [111]:
params = {
    'n_estimators': [100],
    'max_depth': [16],
    'min_samples_leaf': [2],
    'random_state': [0],
    'max_features': [0.2]
}

clf = grid_search(RandomForestClassifier(), params)

Fitting 8 folds for each of 1 candidates, totalling 8 fits

[Parallel(n_jobs=4)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done   8 out of   8 | elapsed:   12.5s finished

grid.best_score_:0.8001
grid.best_params_:
{'max_depth': 16, 'max_features': 0.2, 'min_samples_leaf': 2, 'n_estimators': 100, 'random_state': 0}

### Make submission

In [116]:
test.head()

,id,name,datetime,animaltype,sexuponoutcome,ageuponoutcome,breed,color
0,1,Summer,2015-10-12 12:15:00,Dog,Intact Female,10 months,Labrador Retriever Mix,Red/White
1,2,Cheyenne,2014-07-26 17:59:00,Dog,Spayed Female,2 years,German Shepherd/Siberian Husky,Black/Tan
2,3,Gus,2016-01-13 12:20:00,Cat,Neutered Male,1 year,Domestic Shorthair Mix,Brown Tabby
3,4,Pongo,2013-12-28 18:12:00,Dog,Intact Male,4 months,Collie Smooth Mix,Tricolor
4,5,Skooter,2015-09-24 17:59:00,Dog,Neutered Male,2 years,Miniature Poodle Mix,White

In [117]:
test_id = pd.Series(test.id.values, name='ID')
y_pred = clf.fit(X_train, y_train).predict_proba(X_test)
y_pred = pd.DataFrame(y_pred, columns=clf.classes_)
sub = pd.concat([test_id, y_pred], axis=1)

In [119]:
sub.to_csv('sub.csv', index=False)